.about {
  a {
    color: $link-color;
    &:hover {
      text-decoration: underline;
    }
    body.dark & {
      color: $link-color-light;
    }
  }

  &__img {
    display: block;
    margin: 1rem auto 0;
    width: 100%;
    max-width: 120px;
    @media screen and (max-width: 992px) {
      max-width: 200px;
      margin-top: 0;
    }
  }
}
