.contact {
  background-color: $contact-bg-color;
  @include bg-animation;
  h2 {
    @media screen and (max-width: 992px) {
      text-align: center;
    }
  }
  &__link {
    display: block;
    margin-top: 2.3rem;
    text-align: center;
    @media screen and (max-width: 992px) {
      margin-top: 0;
    }
  }
  &__logo {
    width: 3rem;
    transition: transform 0.3s;
  }
  &__logo:hover {
    transform: scale(1.1);
  }
  body.dark & {
    background-color: $contact-bg-color-dark;
  }
}
