nav {
  background-color: $navbar-background-color;
  .brand-logo {
    height: 100%;
    padding: 0.5rem 0;
    & img {
      display: inline-block;
      height: 100%;
    }
  }
  .waves-effect {
    display: block;
  }
  .switch {
    height: 64px;
    i {
      display: inline-block;
    }
    span.lever {
      margin: 0 0 15px;
    }
  }
}
.waves-effect.waves-js .waves-ripple {
  background-color: rgba(color("primary-js", "lighten-3"), 0.65);
}
.sidenav {
  .switch {
    margin-top: 2rem;
  }
  span.lever {
    margin-bottom: 15px;
  }
}
.switch {
  input[type="checkbox"]:checked + span.lever {
    background-color: $switch-lever-color;
  }
  input[type="checkbox"]:checked + span.lever::after {
    background-color: $switch-lever-after-color;
  }
}
