#contact h2 {
  @media screen and (max-width: 992px) {
    text-align: center;
  }
}
.contact {
  &__link {
    display: block;
    margin-top: 2.3rem;
    text-align: center;
    @media screen and (max-width: 992px) {
      margin-top: 0;
    }
  }
  &__logo {
    width: 50px;
  }
}
