.header {
  min-height: 100vh;
  background-image: linear-gradient(rgba(#00532e, 0.55)),
    url("../images/hero.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
