@font-face {
  font-family: "Ubuntu Mono";
  src: url(../fonts/UbuntuMono-Regular.ttf);
}
@font-face {
  font-family: "Roboto Mono Bold";
  src: url(../fonts/RobotoMono-Medium.ttf);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu Mono", monospace;
}
strong {
  font-family: "Roboto Mono Bold", monospace;
}
